@media (min-width: 1000px) {

    body {
      display: grid;
      height: 100vh;
      width: 600px;
      margin:0 auto;
      font-family: Poppins;
      grid-template: 100px 1fr auto /  1fr;
    }

    header {
        grid-column: 1/ 4;
        display: grid;
        grid-template-columns: 130px 80px 1fr;
        background-color: #0B2447;
    }

    #logo img {
        width: 100px;
        height: 100px;
    }

    #social img {
        padding-top: 20px;
        width: 40px;
        height: 40px;
    }

    main{
        position: relative;
    }
    #menu {
        font-size: 1.5rem;
        border: 1px solid rgba(0,0,0,.3);
        padding: 5px 7px 7px;
        background-color: #eee;
        color: #000;
        position: absolute;
        right: 20px;
        top: 20px;
    }
    
    #menu::before {
        content: "☰";
    }
    
    #menu.open::before {
        content: "❌";
    }
    
    .navigation {
        display: flex;
        flex-direction: row;
        list-style: none;
        color: whitesmoke;
        margin-top: 30px;
    }
   
    #menu {
        display: none;
    }

    #hero-msg {
        font-weight: 900;
        color: whitesmoke;
        font-size: 2.7em;
        position: absolute;
        top: 10%;
        width: 100%;
        text-align: center;
    }

    #join {
        display: block;
        padding: 15px 30px;
        background-color: rgb(219, 186, 55);
        color: #000;
        border-radius: 20px;
        position: absolute;
        top: 25%;
        left: 38%;
        font-weight: 900;
    }
    

    #wind-chill{
        padding: 10px 20px;
        background-color: rgb(219, 186, 55);
        color: #000;
        border-radius: 8px;
        font-weight: 700;
        font-size: 0.9em;
    }

    .navigation li{
        display: block;
    }

    .navigation li a {
        padding: 0.6rem;
        text-align: center;
        text-decoration: none;
        color: whitesmoke;
        font-size: 1.1em;
        font-weight: 400;
        background-color: #0B2447;
    }
    .navigation li a:hover {
        background-color: rgb(219, 186, 55);
        color: #333;
        font-weight: 700;
    }
    

    #hero-img img{
        width: auto;
        height: 300px;
        
    }

    .active{
        font-weight: 700;
        color: #000000;
        background-color: #83858d;
        padding: 5px;
      }
    
      .active::before {
        content: "📌";
      }

    #content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-weight: 400;
        font-size: 1.1em;
    }

    #events, #weather {
        outline-style:solid;
        outline-width: thin;
        background-color: #19376D;
        color: rgb(219, 186, 55);
        padding: 15px;
        margin: 10px;
    }

    #members{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .member-card, .member-card2, .member-card3{
        outline-style:solid;
        outline-width: thin;
        background-color: #576CBC;
        color: whitesmoke;
        padding: 15px;
        margin-top: 10px;
        font-style: italic;
        font-weight: 300;
        font-size: 0.9em;
      }
     
    
    .member-card img {
        width: 50px;
        height: 50px;
      }
    .member-card h3 {
        color: whitesmoke;
        padding: 1rem;
        grid-column: 1/ 4;
      }

    #weather-info img{
        width: 40px;
        height: 40px;
      }

    footer {
        grid-column: 1/ 4;
        background-color: #A5D7E8;
        color: rgb(0, 0, 0);
        padding: 15px;
        margin-top: 15px;
        font-weight: 400;
    }

    #contact img {
        width: 40px;
        height: 40px;
    }

    #mode {
        position: absolute;
        margin: 0;
        top: 0;
        right: 0;
        font-size: 1.5rem;
        cursor: pointer;
    
    }

    .herolabel-large {
        position: absolute;
        display: block;
        top: 30px;
        left: 30px;
        background: radial-gradient(#fff, #6ba077);
        border: 1px solid rgba(0,0,0,.75);
        padding: 0.8rem;
        box-shadow: 0 0 3rem #fff;
        opacity: 0.75;
      }
      
      .herolabel-large p {
        margin: 0;
        padding: .20rem;
        font-weight: 700;
        font-size: 1.2rem;
        font-family:"Nunito Sans", serif;
      }

      .herolabel-small, .herolabel-medium  {
        display: none;
        } 
}
