@media (min-width: 650px) {

.hero picture{
    width: 100%
}

  .hero img {
    width: auto;
    height: 100%;
}

.herolabel-medium {
    position: absolute;
    display: block;
    top: 90px;
    left: 30px;
    background: radial-gradient(#fff, #b1c027);
    border: 1px solid rgba(0,0,0,.75);
    padding: 0.7rem;
    box-shadow: 0 0 3rem #fff;
    opacity: 0.75;
  }
  
  .herolabel-medium p {
    margin: 0;
    padding: .20rem;
    font-weight: 700;
    font-size: 1.1rem;
    font-family:"Nunito Sans", serif;
  }

  .herolabel-large, .herolabel-small  {
    display: none;
  }

  #moreinfo {
    color: white;
    margin-left: 40px;
}

#week-banner{
    border: 1px solid #fff;
    box-shadow: 0 0 10px #333;
    grid-column: 1/ 4;
    background-color: #A5D7E8;
    margin: 15px;
    padding: 10px
}

#week-banner::before {
    content: "❌";
    background-color: gray;
    border: 1px solid #090909;
    margin: 10px;
}

#week-banner.close {
    display: none;
}

}